
<div class="displayUser">
  <br><br>
<strong  class="mt20" style="font-size:large; margin-left: 700px;color:brown">R e g i s t e r e d &nbsp; - &nbsp;  U s e r s</strong>
    <div class="search-div">
      <mat-form-field class="search-form-field" floatLabel="never">
        <input 
          matInput
        
          [(ngModel)]="searchKey"
          placeholder="Search"
          autocomplete="off"
          (keyup)="applyFilter()"
        />
        <button
          mat-button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          *ngIf="searchKey"
          (click)="onSearchClear()"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="mat-elevation-z8 table-div">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
        <!-- Position Column -->
        <ng-container matColumnDef="userName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Customer Name</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>
  
        <!-- Name Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
          <td mat-cell *matCellDef="let element">{{ element.email }}</td>
        </ng-container>
  
        <!-- Weight Column -->
        <ng-container matColumnDef="phoneNumber">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Contact</th>
          <td mat-cell *matCellDef="let element">
            {{ element.mobileNumber }}
          </td>
        </ng-container>
  
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let row">
            <button mat-icon-button color="accent" (click)="openDialog(row)">
              <mat-icon> edit</mat-icon>
            </button>
          </mat-cell>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator
        [pageSizeOptions]="[5, 10, 25, 100]"
        [pageSize]="5"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </div>