@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Lato&family=Lora&family=Montserrat:wght@400;800&family=Mukta:wght@400;800&family=Padauk&display=swap");

.container-fluid {
  background-color: #f5f5f5;
}
.row {
  font-family: "Lato", sans-serif;

  margin-left: 15%;
  margin-right: 15%;
  justify-content: space-between;
}

.card-title {
  font-family: "Padauk", sans-serif;
  line-height: 30px;
  font-weight: 600;
  font-size: 25px;
}

.card {
  width: 20rem;
  margin-top: 10%;
  margin-bottom: 10%;
  border-radius: 10px 20px 30px 40px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transition: all 0.3s ease-in-out;
}

.card::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 10px 20px 30px 40px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transition: opacity 0.3s ease-in-out;
}

.make-it-fast {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

/* Pre-render the bigger shadow, but hide it */

.make-it-fast::after {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

/* Transition to showing the bigger shadow on hover */

.make-it-fast:hover::after {
  opacity: 1;
}

/* Scale up the box */
.card:hover {
  transform: scale(1.1, 1.1);
}

/* Fade in the pseudo-element with the bigger shadow */
.card:hover::after {
  opacity: 1;
}