<div style="color:royalblue"  class="bootstrap-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div  class="col-md-3 mt50">
                <strong style="font-size: 20px;">Center Details</strong>  
                <mat-card class="mt20" style="background-color:darkseagreen;">
                    <h1><strong>Center :</strong>{{e.serviceCenterName}}</h1>
                    
                    <strong style=" color: black;">ADDRESS : </strong> {{ e.serviceCenterAddress }}
                    <br /><br>
                    <strong >EMAIL : </strong> {{ e.serviceCenterMailId }}
                    <br /><br>
                    <strong>CONTACT  : </strong> {{ e.serviceCenterPhone }}
                    <br /><br>
                    <strong >DESCRIPTION : </strong>{{e.serviceCenterDescription}}
                    <br />      
                </mat-card>         
            </div>
            <div  class="col-md-9">
                <mat-card  class="c1 mt20 mb20" style="color:darkslategrey">
                    <!-- {{productDetails|json}} -->
                    <h1 style="font-weight: bolder;" class="text-center">BOOK APPOINTMENT</h1>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 offset-md-2">
                                <!-- {{quizData | json}} -->
                                <form  (ngSubmit)="formSubmit()">
                                    <mat-form-field style="color:cadetblue;" class ="w100" appearance="outline">
                                        <mat-label style="color: black;">Enter Product Name</mat-label>
                                        <input 
                                            type = "text" 
                                            name="productName" 
                                            placeholder="Product name" 
                                            matInput
                                            [(ngModel)]="productDetails.productName"
                                           >
                                    </mat-form-field>
                                    <!-- model Number -->
                                  
                                        <!-- numberr of question -->
                                            <mat-form-field class ="w100" appearance="outline">
                                                <mat-label style="color: black;">Enter Model Number</mat-label>
                                                <input 
                                                    type = "text" 
                                                    name="modelNumber" 
                                                    placeholder="Enter Model Number" 
                                                    matInput
                                                    [(ngModel)]="productDetails.modelNumber"
                                                   >
                                            </mat-form-field>
               
                                        <!-- Number -->
                                            <mat-form-field class ="w100" appearance="outline">
                                                <mat-label style="color: black;">Enter Contact Number</mat-label>
                                                <input 
                                                    type = "text" 
                                                    name="contactNumber" 
                                                    placeholder="Enter ContactNumber" 
                                                    matInput
                                                    [(ngModel)]="productDetails.contactNumber"
                                                    >
                                            </mat-form-field>
                                    
                        
                                   <mat-form-field class ="w100" appearance="outline">
                                    <mat-label style="color: black;">Enter Problem</mat-label>
                                    <textarea 
                                        type = "text" 
                                        name="productDescription" 
                                        placeholder="Enter title" 
                                        matInput
                                        rows=7
                                        [(ngModel)]="productDetails.enterProblem"
                                        ></textarea>
                                </mat-form-field>
                                <mat-form-field appearance="outline">
                                    <mat-label style="color: black;">Choose Appointment Date</mat-label>
                                    <input 
                                       
                                        type = "date" 
                                        name="d " 
                                        placeholder="Enter Purchase Date"
                                        matInput
                                        [(ngModel)]="productDetails.dateOfPurchase"
                                        >
                                        <mat-hint style="color: black;">Appointment Date must be within in 5 Days range from Current Date</mat-hint>
                                </mat-form-field>
                                    
                                        <!-- select category -->
                                        <mat-form-field class = "w100 mt20" appearance="fill">
                                            <mat-label style="color: black;" >service</mat-label>
                                            <mat-select  name="serviceCenter" [(ngModel)]="productDetails.serviceCenter.serviceCenterID">
                                              <mat-option [value]="serviceCenterID" >
                                                {{e.serviceCenterName}}
                                              </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <!-- adding button -->
                                        
                                        <div class="container text-center">
                                            <button mat-raised-button color="accent">Book</button>
                                        </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>