
<div class="container-fluid">
  <div *ngIf="centerData">
    <br>
    <strong  class="mt20" style="font-size:large; margin-left: 700px;color:brown">R e g i s t e r e d &nbsp; - &nbsp;  C e n t e r s</strong>
  <div class="row">
    
    
      <div class="card-deck col-lg-4"  *ngFor="let e of centerData">
        <div class="card" id="adminProfileView">
         
          <div class="card-body">
            <h5 class="card-title">{{ e.serviceCenterName }}</h5>
            <p class="card-text">
              <strong>Address </strong> {{ e.serviceCenterAddress }}
              <br />
              <strong>Email </strong> {{ e.serviceCenterMailId }}
              <br />
              <strong>Phone Number </strong> {{ e.serviceCenterPhone }}
              <br />
              {{e.serviceCenterDescription}}
              <br />
              <br />
            </p>
            <button
              id="editCenter"
              mat-fab
              color="primary"
              style="margin-right: 15px"
              [routerLink]="'/admin/editServiceCenter/'+e.serviceCenterID"
            >
              <mat-icon> border_color</mat-icon>
            </button>
            <button
              id="deleteCenter"
              mat-fab
              color="accent"
              (click)="deleteDialog(e.serviceCenterID)"
            >
              <mat-icon>delete</mat-icon>
            </button>
            
          </div>
          <button mat-raised-button color="primary" [routerLink]="'/admin/viewAppointment/'+e.serviceCenterID">Show Registered Complaints</button>
        </div>
      </div>
    </div>
    
  </div>
</div>
<br><br><br><br><br><br>
<div class="mt50" *ngIf="centerData?.length ==0">
  <mat-card>
    <strong  style="font-size:large; margin-left: 600px;">N o - C e n t e r -  F o u n d</strong>
  </mat-card>
  
</div>