<mat-card>
    <h1 class="text-center"><strong >Update Center Details </strong></h1>
    <div class="container mt20">
        <div class="row ">
            <div class="col-md-8 offset-md-2">
                <!-- {{ServiceCenterData | json}}  -->
                <form  (ngSubmit)="formSubmit()">
                    <mat-form-field class ="w100" appearance="outline">
                        <mat-label>Enter Center Name</mat-label>
                        <input 
                            type = "text" 
                            name="serviceCenterName" 
                            placeholder="Enter Center Name" 
                            matInput
                            [(ngModel)]="ServiceCenterData.serviceCenterName"
                           >
                    </mat-form-field>
                    
                    <mat-form-field class ="w100" appearance="outline">
                        <mat-label>Enter Phone Number</mat-label>
                        <input 
                            type = "text" 
                            name="serviceCenterPhoner" 
                            placeholder="Enter Phone Number" 
                            matInput
                            [(ngModel)]="ServiceCenterData.serviceCenterPhone"
                           >
                    </mat-form-field>
                   
                    <mat-form-field class ="w100" appearance="outline">
                        <mat-label>Enter Center Address</mat-label>
                        <input 
                            type = "text" 
                            name="serviceCenterAddress" 
                            placeholder="Enter Center Address" 
                            matInput
                            [(ngModel)]="ServiceCenterData.serviceCenterAddress"
                           >
                    </mat-form-field>

                    <mat-form-field class ="w100" appearance="outline">
                        <mat-label>Enter Email</mat-label>
                        <input 
                            type = "email" 
                            name="serviceCenterMailId" 
                            placeholder="Enter Email;" 
                            matInput
                            [(ngModel)]="ServiceCenterData.serviceCenterMailId"
                           >
                    </mat-form-field>

                    <mat-form-field class ="w100" appearance="outline">
                        <mat-label>Enter Center Description</mat-label>
                        <textarea
                            type = "text" 
                            name="serviceCenterDescrption" 
                            placeholder="Enter Center Description" 
                            matInput
                            rows=7
                            [(ngModel)]="ServiceCenterData.serviceCenterDescription"
                           ></textarea>
                    </mat-form-field>
                        <!-- adding button -->
                        <div class="container text-center">
                            <button type="submit" mat-raised-button color="primary">Update</button>
                            <button  class="ml10" mat-raised-button color="accent" [routerLink]="'/admin'">Cancel</button>
                        </div>
                </form>
            </div>
        </div>
    </div>
</mat-card>