.nav-div {
  background-color: #fc6ea9;
  
}
.navbar-nav {
  float: right;
  margin-right: 80px;
  font-size: large;
  font-style:initial;
  font-display:initial;
  font-weight: 750;
}
.navbar a {
  padding: 10px;
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.navbar a:hover {
  color: rgb(245, 245, 228);
  text-decoration: none;
  background-color: #464bdd;
  border-radius: 20px;
}
.navbar a.active {
  color: rgb(247, 247, 235);
  text-decoration: none;
  background-color: #464bdd;
  border-radius: 20px;
}