<mat-toolbar color="warn">
    <a  
        routerLink="/"
        mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>admin_panel_settings</mat-icon>
    </a>
    <span>Spinning blades</span>
    
    <!-- Home icon -->
    <a  
    routerLink="/"
    mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    </a>
    <span>Home </span>
    
    <!-- Dashboard Icon -->
    <a 
    routerLink="/"
    mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    </a>
    <span>Dashboard</span>
    
    <!-- MyBooking icon -->
    <a  href=""
    routerLink="/"
    mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    </a>
    <span>My Booking</span>
    <span class="example-spacer"></span>
    <!-- for logout -->
     <a (click)="logout()"      
        *ngIf="isLoggedIn"
        mat-icon-button class="example-icon favorite-icon mr20 ml20" 
        aria-label="Example icon-button with heart icon">
        Logout
    </a>   
</mat-toolbar>